In [2]:
# Libraries 
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np
import warnings
import sys
import os

# Configuration
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)
# pd.set_option('display.max_rows', None)
warnings.filterwarnings("ignore")


import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data_red = pd.read_csv("red.csv", index_col=0)
data_rose = pd.read_csv("Rose.csv", index_col=0)
data_sparkling = pd.read_csv("Sparkling.csv", index_col=0)
data_white = pd.read_csv("White.csv", index_col=0)

In [4]:
data_red.isnull().sum()

Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [11]:
data_rose.isnull().sum()

Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [12]:
data_sparkling.isnull().sum()

Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [13]:
data_white.isnull().sum()

Country            0
Region             0
Winery             0
Rating             0
NumberOfRatings    0
Price              0
Year               0
dtype: int64

In [5]:
data_red.duplicated().sum()

0

In [14]:
data_rose.duplicated().sum()

0

In [15]:
data_sparkling.duplicated().sum()

0

In [16]:
data_white.duplicated().sum()

0

In [6]:
data_red.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8666 entries, Pomerol 2011 to Portillo Cabernet Sauvignon 2016
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          8666 non-null   object
 1   Region           8666 non-null   object
 2   Winery           8666 non-null   object
 3   Rating           8666 non-null   float64
 4   NumberOfRatings  8666 non-null   int64
 5   Price            8666 non-null   float64
 6   Year             8666 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 541.6+ KB

In [17]:
data_rose.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397 entries, Mad Méditerranée Rosé 2019 to The Original Rosé N.V.
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          397 non-null    object
 1   Region           397 non-null    object
 2   Winery           397 non-null    object
 3   Rating           397 non-null    float64
 4   NumberOfRatings  397 non-null    int64
 5   Price            397 non-null    float64
 6   Year             397 non-null    object
dtypes: float64(2), int64(1), object(4)
memory usage: 24.8+ KB

In [18]:
data_sparkling.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1007 entries, Crémant de Loire Brut 2017 to Brut Champagne N.V.
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          1007 non-null   object
 1   Region           1007 non-null   object
 2   Winery           1007 non-null   object
 3   Rating           1007 non-null   float64
 4   NumberOfRatings  1007 non-null   int64
 5   Price            1007 non-null   float64
 6   Year             1007 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 62.9+ KB

In [19]:
data_white.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3764 entries, Vermentino 2017 to Vinho Verde Branco N.V.
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          3764 non-null   object
 1   Region           3764 non-null   object
 2   Winery           3764 non-null   object
 3   Rating           3764 non-null   float64
 4   NumberOfRatings  3764 non-null   int64
 5   Price            3764 non-null   float64
 6   Year             3764 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 235.2+ KB

In [22]:
# creamos una variable con los nombres de las columnas del DataFrame de las variables categóricas
columnas_categoricas = ["Country", "Region", "Winery", "Rating", "NumberOfRatings", "Price", "Year"]

print(f"Las columnas del DataFrame de variables categóricas son {columnas_categoricas}")
print("--------------------------------------------------------------------------------")
# empezamos a iterar por cada una de las columnas para sacar sus valores únicos y sus frecuencias
for columna in columnas_categoricas:
    print(f"Los valores únicos de {columna} son: {data_white[columna].unique()}\n")
    print(f"Las frecuencias de los valores únicos de la columna: {data_white[columna].value_counts()} ")
    print("------------------------------------------------------------------------------------------------")

Las columnas del DataFrame de variables categóricas son ['Country', 'Region', 'Winery', 'Rating', 'NumberOfRatings', 'Price', 'Year']
--------------------------------------------------------------------------------
Los valores únicos de Country son: ['Italy' 'Austria' 'Germany' 'France' 'Spain' 'Hungary' 'Australia'
 'Luxembourg' 'South Africa' 'Chile' 'Portugal' 'New Zealand'
 'United States' 'Romania' 'Slovenia' 'Argentina' 'Brazil' 'Switzerland'
 'Croatia' 'China' 'Greece' 'Israel' 'Turkey' 'Georgia' 'Czech Republic'
 'Slovakia' 'Canada' 'Lebanon' 'Moldova' 'Uruguay']

Las frecuencias de los valores únicos de la columna: Country
Germany           888
Italy             792
France            653
South Africa      296
Spain             256
Austria           243
United States     135
Chile              99
New Zealand        94
Portugal           89
Australia          67
Argentina          56
Romania            12
Switzerland        11
Greece             10
Hungary            10
Slovenia            9
Israel              8
Georgia             8
Brazil              6
Luxembourg          5
Croatia             4
Moldova             3
China               2
Turkey              2
Czech Republic      2
Slovakia            1
Canada              1
Lebanon             1
Uruguay             1
Name: count, dtype: int64
------------------------------------------------------------------------------------------------
Los valores únicos de Region son: ['Toscana' 'Colli Orientali del Friuli' 'Südburgenland' 'Rheinhessen'
 'Terre Siciliane' 'Pfalz' 'Nahe' 'Terre di Chieti' 'Veneto' 'Alsace'
 'Umbria' 'Wiltingen' 'Südtirol - Alto Adige' 'Castilla' 'Rheingau'
 'Mâcon-Prissé' 'Sopron' 'Ahr' 'German Wine' 'Barossa' 'La Mancha'
 'Luxembourg' 'Muscadet-Sevre et Maine' 'Mosel' 'Wagram'
 'Teroldego Rotaliano' 'Baden' 'Robertson' 'Rías Baixas'
 'Pouilly-Vinzelles' 'Maipo Valley' "Pays d'Oc" 'Campania' 'Eden Valley'
 'Marche' 'Sicilia' 'Meursault' 'Tolna' 'Soave Classico'
 "Chablis 1er Cru 'Vaillons'" 'Minho' 'Südsteiermark' 'Kamptal'
 'Vernaccia di San Gimignano' 'Johannisberg' 'Luberon' 'Vin de France'
 'Châteauneuf-du-Pape' 'Western Cape' 'Sancerre' 'Priorat' 'Franken'
 'Saumur' 'Rioja' 'South Australia' 'Côtes Catalanes' 'Wachau' 'Bandol'
 'Mitterberg' 'Lugana' "Trebbiano d'Abruzzo" 'Langhe' 'Pessac-Léognan'
 'Bergland' 'Marlborough' 'Cape Point' 'Burgenland' 'Bordeaux Sec'
 'Vigneti delle Dolomiti' 'Monterey' 'Sta. Rita Hills' 'Navarra'
 'Bourgogne' 'Dealu Mare' 'Graach' 'Venezia Giulia' 'Trentino'
 'Bourgogne Hautes-Côtes de Beaune' 'Dão' 'Stellenbosch'
 'Vermentino di Gallura' 'Mittelburgenland' 'Vinho Verde' 'delle Venezie'
 'Saale-Unstrut' 'Irpinia' 'Lisboa' 'Kremstal'
 'Verdicchio dei Castelli di Jesi' 'Chinon' 'California' 'Colli di Luni'
 "Alsace Grand Cru 'Geisberg'" 'Durbanville' 'Weinviertel' 'Condrieu'
 'Garda' 'Bourgogne Aligoté' 'Limoux' 'Bordeaux' 'North Coast'
 "Meursault 1er Cru 'Genevrières'" 'Gisborne' 'Côtes-du-Rhône' 'Paarl'
 'Balaton' "Coteaux-d'Ensérune" 'Friuli Grave' 'Piesport' 'Yecla'
 'Cape Town' 'Escherndorf' 'Nierstein' 'Rueda' 'Loire Valley' 'Štajerska'
 'Verdicchio di Matelica' 'Pouilly-Fuissé' 'Salento' 'Swartland' 'Douro'
 'Steiermark' 'Riverina' "Beaune 1er Cru 'Les Grèves'" 'Côtes de Provence'
 'Pla de Bages' 'Mendoza' 'Pacherenc du Vic-Bilh Sec' 'Languedoc'
 'Tupungato' "Saint-Aubin 1er Cru 'Le Charmois'" 'Pomino' 'Itata Valley'
 'Elgin' 'Serra Gaúcha' 'Hermitage' 'Colli Martani' 'Côtes du Roussillon'
 'Basilicata' 'Meursault Premier Cru' 'Colli Tortonesi' 'McGregor'
 'Mittelrhein' 'Maremma Toscana' 'Podravje' 'Alentejano' 'Provence'
 'Côtes de Gascogne' 'Chablis' 'Central Valley' 'Touraine'
 'Castilla y León' 'Villány' 'Petit Chablis' 'Soave' 'Trentino-Alto Adige'
 'Rully' 'Coastal Region' 'Friuli Isonzo' 'Niederösterreich'
 'Anderson Valley' 'Carnuntum' 'Chassagne-Montrachet' 'Penedès'
 'Traisental' "Meursault 1er Cru 'Blagny'" 'Roero' 'Friuli-Venezia Giulia'
 'Gascogne' 'Binissalem-Mallorca' 'Valais' 'Cirò' 'Vin de Pays'
 'Los Carneros' 'Bâtard-Montrachet Grand Cru' 'Alsace Grand Cru'
 'Pouilly-Fumé' 'Walker Bay' 'Abona' 'Overberg' 'Picpoul de Pinet' 'Wien'
 'Alcamo' 'Puglia' 'Vin de Corse' 'Montrachet Grand Cru' 'Graves'
 'Dalmatian Coast' 'Fiano de Avellino' 'Gavi' 'Wiener Gemischter Satz'
 'Chassagne-Montrachet Premier Cru' 'Collio'
 "Alsace Grand Cru 'Engelberg'" 'McLaren Vale'
 "Alsace Grand Cru 'Schlossberg'" 'Mercurey' 'Limarí Valley'
 "Rully 1er Cru 'Rabourcé'" 'Viré-Clessé' 'Brauneberg' 'Mallorca'
 'Côtes de Thongue' "Chassagne-Montrachet 1er Cru 'Les Chaumes'"
 'Curtefranca' 'Isola dei Nuraghi' "Meursault 1er Cru 'Charmes'"
 'Greco di Tufo' 'Languedoc-Roussillon' 'Muscadet-Côtes de Grandlieu'
 'Bianco di Custoza' 'Somontano' 'Tejo'
 "Chassagne-Montrachet 1er Cru 'Morgeot'" 'Côtes de Grevenmacher'
 'Corton-Charlemagne Grand Cru' 'Ningxia' 'Abruzzo' "Valle d'Aosta"
 'Vrancea' 'Beaune Premier Cru' 'Transylvania' 'Casablanca Valley'
 'Aconcagua Costa' 'Ockfen' 'Washington' 'Markopoulo' 'Clare Valley'
 'Etna' 'Est! Est!! Est!!! di Montefiascone' 'Hunter Valley' 'Jumilla'
 'Galilee' 'Langhorne Creek' 'Saint-Véran' 'Mâcon-Vinzelles'
 'Mâcon-Villages' "Montagny 1er Cru 'Saint-Morille'" 'Macedonia'
 'Vermentino di Sardegna' 'Plà i Llevant' 'Constantia' 'Wehlen'
 'Long Island' 'Auxey-Duresses' 'Costières-de-Nîmes' 'Monferrato'
 'Slopes of Enos' 'Mantinia' 'Ticino' 'Maule Valley'
 "Alsace Grand Cru 'Sommerberg'" 'Valencia' 'Puligny-Montrachet'
 'South Eastern Australia' 'Württemberg' "Alsace Grand Cru 'Kitterle'"
 'Rioja Alta' 'Breede River Valley' 'Central Coast' 'Thrace' 'Orvieto'
 'Val di Neto' 'Calabria' 'Russian River Valley' 'Kakheti' 'Thermenregion'
 "Chassagne-Montrachet 1er Cru 'Cailleret'" 'Lazio' 'Spoleto' 'Salta'
 'Barossa Valley' 'Zürich' "Chablis Grand Cru 'Preuses'" 'Arroyo Seco'
 'Morava' "Chablis 1er Cru 'Vau Ligneau'" 'Alentejo' 'Galicia'
 'Benaco Bresciano' 'Goriška Brda' 'Achaia' 'Utiel-Requena'
 'Sierras de Málaga' 'Uco Valley' 'Vins des Allobroges' 'Monção e Melgaço'
 'Hemel-en-Aarde Valley' 'Valle del Tirso' 'Chablis Premier Cru'
 'Saint-Romain' 'Rio Grande do Sul' 'Lanzarote' 'Lujan de Cuyo'
 'Chablis Grand Cru' 'Zeltingen' 'Piemonte' 'Península de Setúbal'
 "Santenay 1er Cru 'Les Gravières'" 'Bolgheri' 'Franschhoek'
 'Contessa Entellina' 'Tarnave' 'Darling' 'Savoie' 'Nuragus di Cagliari'
 'Valdeorras' 'Neusiedlersee-Hügelland' 'Yarra Valley'
 'Citrusdal Mountain' "Beaune 1er Cru 'Le Clos des Mouches'" 'Vouvray'
 'Bianchello del Metauro' 'Cape Agulhas' 'Rüdesheim' 'Sachsen' 'Falerio'
 'Anjou' "Vino d'Italia" 'Entre-deux-Mers' 'Bairrada' 'Adelaide Hills'
 'Sonoma Coast' 'Savennières' 'San Gimignano' 'Monterey County' 'Weinland'
 'Algarve' 'Montagny Premier Cru' 'Saint-Joseph' 'Cariñena' 'Val de Loire'
 'Slovakia' 'Dundee Hills' 'Nelson' 'Margaret River' 'Calchaqui Valley'
 'Sciacca' 'Emilia-Romagna' 'Montagu' 'Sannio' 'Murray Darling'
 'Conca de Barberà' 'Venezia' 'Corbières' 'Vipava'
 "Alsace Grand Cru 'Kastelberg'" 'Franciacorta' 'Würzburg' 'Peloponnesos'
 'Kanzem' 'Südoststeiermark' "Chablis 1er Cru 'Montmains'"
 "Blagny 1er Cru 'La Pièce sous le Bois'" 'Paso Robles' 'Leyda Valley'
 'Livermore Valley' 'Rhone Valley' 'Cassis' 'Coteaux du Pont du Gard'
 'Rosso Veronese' 'Terra Alta' "Hawke's Bay" 'Collines Rhodaniennes'
 'Santa Lucia Highlands' 'Valdepeñas' 'Uclés' 'Napa Valley'
 'Crozes-Hermitage' 'Valli di Porto Pino' 'Mâcon-Milly-Lamartine'
 'Montsant' 'Yvorne' 'Sonoma County' 'Costers del Segre' 'Curico Valley'
 'Recas' 'Tumbarumba' 'Molise' 'Lodi' 'Sardegna' 'Aigle' 'Catalunya'
 'Ribeiro' 'd Minis' 'Rubicone' 'Saint-Aubin' 'Offida'
 'Savennières-Roche-aux-Moines' 'Quincy' "Chablis 1er Cru 'Vau de Vey'"
 'Beaujolais' 'La Clape' 'Cádiz' 'Falerio Pecorino'
 "Chablis 1er Cru 'Côte de Lechet'" 'North Island' 'Contea di Sclafani'
 'Mâcon-Bussières' 'Neusiedlersee' 'Colline Teatine' 'Mâcon-Uchizy'
 'Mâcon-La Roche-Vineuse' 'San Antonio Valley' 'Saint-Péray' 'Leiwen'
 'Rutherford' 'Colline Pescaresi' 'Alella' 'Aconcagua Valley' 'Wawern'
 'Falanghina del Sannio' "Chablis 1er Cru 'Montee de Tonnerre'"
 'Calatayud' 'Santorini' 'Mâcon-Lugny' 'Groenekloof'
 'Ancient Lakes of Columbia Valley' 'Vino de España' 'Bernkastel'
 'Clairette de Languedoc' 'Columbia Valley' 'Niagara-on-the-Lake'
 'Monterrei' 'Rosazzo' 'Alicante' 'Bizkaiko Txakolina' 'Napa County'
 'Sonoma Valley' 'Tokaj' 'Verdicchio dei Castelli di Jesi Riserva'
 'Falanghina del Beneventano' 'Bekaa Valley' 'Orvieto Classico'
 'Friuli Aquileia' 'Blenheim' 'Frascati' 'Cape South Coast'
 'Colchagua Valley' 'South Eastern' 'Savennières-Coulée-de-Serrant'
 'Otazu' 'Valdadige' 'Lombardia' 'Jurançon' 'Castel del Monte'
 'Coteaux Varois en Provence' 'Martinborough' 'Menfi' 'San Juan' 'Alghero'
 'Maldonado' 'Valdejalón' 'Campanha' 'Ardèche' 'Encruzilhada do Sul'
 'Santa Barbara County']

Las frecuencias de los valores únicos de la columna: Region
Pfalz                     214
Mosel                     197
Rheinhessen               134
Südtirol - Alto Adige     133
Rheingau                  107
                         ...
Yarra Valley                1
Bianchello del Metauro      1
Cape Agulhas                1
Falerio                     1
Santa Barbara County        1
Name: count, Length: 457, dtype: int64
------------------------------------------------------------------------------------------------
Los valores únicos de Winery son: ['Famiglia Castellani' "Conte d'Attimis Maniago" 'Weinbau Uwe Schiefer'
 ... 'Oyster Bay' 'Casal Garcia' 'Hans Greyl']

Las frecuencias de los valores únicos de la columna: Winery
Markus Molitor             61
Von Winning                34
Wittmann                   29
Emrich-Schönleber          23
Joseph Drouhin             23
                           ..
Botani                      1
Château de Vinzelles        1
Domaine des Ardoisieres     1
Vernaccia Oristano          1
Hans Greyl                  1
Name: count, Length: 1412, dtype: int64
------------------------------------------------------------------------------------------------
Los valores únicos de Rating son: [3.8 4.3 4.2 3.9 3.7 4.1 3.4 3.6 4.  3.5 2.7 3.1 2.9 3.2 4.4 3.  3.3 2.8
 4.6 4.9 4.5 4.8 4.7 2.2 2.6]

Las frecuencias de los valores únicos de la columna: Rating
3.8    638
3.9    572
3.7    482
3.6    411
4.0    393
4.1    339
3.5    246
4.2    197
3.4    159
4.3    100
3.3     74
3.2     43
4.4     41
4.5     31
3.1     15
4.6      7
3.0      5
2.8      3
2.9      2
4.9      1
2.7      1
4.8      1
4.7      1
2.2      1
2.6      1
Name: count, dtype: int64
------------------------------------------------------------------------------------------------
Los valores únicos de NumberOfRatings son: [   25    26    27    28    29    30    31    32    33    34    35    36
    37    38    39    40    41    42    43    44    45    46    47    48
    49    50    51    52    53    54    55    56    57    58    59    60
    61    62    63    64    65    66    67    68    69    70    71    72
    73    74    75    76    77    78    79    80    81    82    83    84
    85    86    87    88    89    90    91    92    93    94    95    96
    97    98    99   100   101   102   103   104   105   106   107   108
   109   110   111   112   113   114   115   116   117   118   119   120
   121   122   123   124   125   126   127   128   129   130   131   132
   133   134   135   136   137   138   139   140   141   142   143   144
   145   146   147   148   149   150   151   152   153   154   155   156
   157   158   159   160   161   162   163   164   165   166   167   168
   169   170   171   172   173   174   175   176   177   178   179   180
   181   182   183   184   185   186   187   188   189   190   191   192
   193   194   195   196   197   198   199   200   201   202   203   204
   205   206   207   208   209   210   211   212   213   214   215   216
   217   218   219   220   221   222   223   224   225   226   227   228
   229   230   231   232   233   234   235   236   237   238   239   240
   241   242   243   244   245   246   247   248   249   250   251   252
   253   254   255   256   257   258   259   260   262   263   264   265
   266   267   268   269   271   272   273   274   275   276   277   279
   280   281   282   283   284   285   286   287   288   289   290   292
   293   294   297   298   300   301   302   303   304   305   306   307
   308   309   310   311   312   314   315   317   318   320   321   322
   323   324   325   326   327   328   329   331   332   333   336   338
   340   341   343   344   345   346   347   348   349   350   351   352
   353   355   356   357   359   360   361   362   363   364   366   367
   368   369   370   371   372   374   375   376   377   380   381   382
   383   384   386   389   390   391   392   393   394   395   397   398
   399   400   401   402   403   404   405   406   407   408   411   412
   416   419   421   422   423   424   425   428   429   431   433   434
   439   440   442   443   444   446   447   449   450   452   455   456
   457   458   460   464   465   467   468   469   470   472   473   479
   481   482   483   486   489   490   491   493   496   497   499   500
   502   503   505   506   507   508   509   510   511   512   515   517
   518   520   523   530   531   532   534   535   536   538   539   540
   541   542   543   544   549   550   551   552   554   556   557   558
   559   560   563   564   565   567   569   570   571   575   578   579
   580   583   585   586   587   590   592   596   597   600   601   602
   605   606   612   615   617   619   621   625   627   628   630   631
   637   641   642   643   651   654   661   667   672   676   678   679
   680   684   691   704   705   707   708   710   712   714   716   719
   724   727   728   731   737   741   748   756   757   760   761   762
   764   768   772   776   780   792   795   796   798   806   807   817
   827   830   837   838   844   848   859   861   868   873   878   879
   894   898   901   904   905   906   923   930   949   950   953   961
   976   979   991  1001  1006  1011  1023  1036  1059  1060  1066  1075
  1082  1085  1087  1100  1116  1121  1130  1160  1179  1183  1185  1190
  1204  1216  1219  1248  1254  1267  1286  1332  1358  1375  1423  1424
  1462  1466  1476  1481  1493  1525  1554  1590  1637  1646  1675  1721
  1783  1791  1823  1846  1903  2021  2034  2068  2100  2151  2401  2487
  2504  2554  3054  3374  3479  4064  4082  4155  4423  4609  5105  5817
 62980]

Las frecuencias de los valores únicos de la columna: NumberOfRatings
29       67
26       60
27       59
40       59
30       58
         ..
558       1
559       1
560       1
563       1
62980     1
Name: count, Length: 625, dtype: int64
------------------------------------------------------------------------------------------------
Los valores únicos de Price son: [ 5.65 44.9  33.25 ... 22.39  5.05  4.35]

Las frecuencias de los valores únicos de la columna: Price
9.90     43
8.90     38
9.50     31
15.50    31
18.90    30
         ..
12.67     1
43.16     1
4.00      1
44.91     1
4.35      1
Name: count, Length: 1325, dtype: int64
------------------------------------------------------------------------------------------------
Los valores únicos de Year son: ['2017' '2010' '2018' '2019' '2016' '2015' '2014' '2013' '2012' '2007'
 '2011' '1999' '2006' '2003' '2004' '1998' '2020' '2005' '1993' 'N.V.'
 '2009' '2008']

Las frecuencias de los valores únicos de la columna: Year
2018    1440
2017     787
2019     588
2016     484
2015     250
2014      85
2013      42
2012      26
2011      24
N.V.       5
2010       5
2006       5
2005       4
2008       3
2003       3
2007       3
2004       2
2020       2
2009       2
1999       2
1998       1
1993       1
Name: count, dtype: int64
------------------------------------------------------------------------------------------------